.container {
    list-style: none;
    width: 380px;
    height: 460px;
    border-radius: 20px;
    padding-bottom: 36px;
    background: linear-gradient(#471CA9, #5736A3, #4B2A99);
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.button {
    padding: 0;
    margin-left: 92px;
    margin-right: 92px;
    margin-bottom: 36px;
    border-radius: 10.31px;
    width: 196px;
    height: 50px;
    border-width: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight:  600;
    font-size:  18px;
    line-height:  21.94px;
}

.buttonFolowed {
    background-color: #5CD3A8;
}

.followers {
    font-family: 'Montserrat', sans-serif;
    color: #EBD8FF;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.38px;
    text-align: center;
    margin-bottom: 26px;
}

.tweets {
    font-family: 'Montserrat', sans-serif;
    color: #EBD8FF;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.38px;
   text-align: center;
    margin-bottom: 16px;
    margin-top: -80px;
}

.img {
    position: relative;
    top: -79px;
    bottom: 0;
    width: 62px;
    height: 62px;
    margin-bottom: 34.58px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.imgMain{
    width: 308px;
    height: 168px;
    margin-right: 36px;
    position: relative;
    top: 28px;
    left: 36px;
    }

.imgLogo{
    position:relative;
    top: 20px;
    left: 20px;
}

.imgLine{
    position: relative;
    top: 50px;
}

.imgRound{
    z-index: 7;
    width: 80px;
    height: 80px;
    position: relative;
    left: 150px;
}
